
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
  color: #e0e0e0;
}

.container.light {
  background-color: white;
  color: black;
}

.container.dark {
  background: linear-gradient(135deg, #2c2c2c, #1e1e1e);
  color: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hover effect for Category */
.category:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  background: #F71568;
  color: #FFF;
  box-shadow: 0 0 26px #F71568;
}

/* Hover effect for Dark Theme Toggle Button */
.toggle-button {
  background-color: #444;
  color: #e0e0e0;
  border: 2px solid #F71568;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: #F71568;
  border-color: #e0e0e0;
}


.container.dark .card {
  background: #333;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container.dark .card-body {
  color: #e0e0e0;
}



.card .btn-primary {
  background-color: #F71568 !important;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.card .btn-primary:hover {
  background-color: #d0135a !important;
}

/* Efecto hover para Category */
.category:hover {
  transform: scale(1.05);
  background: #F71568;
  color: #FFF;
  box-shadow: 0 0 26px #F71568;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Efecto hover para Movie (Opcional) */
.movie:hover {
  transform: scale(1.05);
  box-shadow: 0 0 26px #F71568;
}
